= {{info.title}}


[[_overview]]
== Overview
{{info.description}}


=== Version information
{{LINEBREAK}}
__Version__ : {{info.version}}


=== URI scheme
{{LINEBREAK}}
__BasePath__ : {{info.basePath}}


=== Tags

<ul>
{{#tags}}
<li> * {{name}}</li>
</ul>


=== Consumes


<ul>
{{#consumes}}
<li> * {{.}}</li>
</ul>


=== Produces


<ul>
{{#consumes}}
<li> * {{.}}</li>
</ul>


